.container__dashboard {
    position: relative;
    margin: 10rem 3rem 0 9rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

.layer__dashboard.payment {
    min-height: 80vh;
    background: #fffcfc;
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.header__payment {
    font-size: 2.7rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    >h1 {
        font-weight: bold;
        text-decoration: none;
    }

    >.link {
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
        background-color: rgb(46, 62, 107);
        padding: 0.5rem;
        border: 0.1rem solid #555;
        border-radius: 0.4rem;
        color: white;
        align-items: center;

        &:hover {
            transform: translateY(-0.1rem);
        }
    }
}

.layer__dashboard .total__payment {
    border-top: 0.3rem solid #2e17b3;
    min-height: 15rem;
    border-bottom: 0.3rem solid #2e17b3;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.total__payment__item {
    width: 26rem;
    height: 15rem;
    display: flex;
    flex-flow: column;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid #eee;

    .conntent {
        flex: 1;
        background: #fffcfc;
        padding: 1rem;
        display: flex;
        flex-flow: row;
        font-size: 2rem;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
    }

    .footer {
        flex: 0 0 auto;
        height: 6rem;
        font-size: 2.2rem;
        letter-spacing: 0.15rem;
        display: flex;
        color: white;
        font-weight: 500;
        background: linear-gradient(90deg, #0077ff 0%, #3a47d5 100%);
        justify-content: center;
        align-items: center;
    }
}

.selector__dashboard {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
    font-weight: 500;

    >select {
        border: none;
        font-size: 1.5rem;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}